{{> layout/header }}
<div class="container p-5">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><b>Join</b></h4>
            <p class="card-text">회원가입을 해주세요.</p>
            <hr />
            <form action="/action_page.php">
                <div class="mb-3 mt-3">
                    <label for="username" class="form-label">username:</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="pwd" name="password">
                </div>
                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">email:</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <button type="submit" class="btn btn-primary form-control">회원가입</button>
            </form>
        </div>
    </div>
</div>
{{> layout/footer }}